body{
    font-family: 'Titillium Web', sans-serif;
}

/*Globales*/
.content-center{
    max-width: 800px;
    margin: 0 auto 60px auto;
    text-align: center;
}

.logo-center{
    max-width: 800px;
    margin: -100px auto 60px auto;
    text-align: center;
}

.topmargin-lg{ margin-top: 80px; }
.topmargin-md{ margin-top: 60px; }
.topmargin-sm{ margin-top: 30px; }
.topmargin-xs{ margin-top: 15px; }

section{
    padding: 140px 0;
}

.bg-grey{
    background-color: #f5f5f5;
}


/*NAVBAR*/
.navbar{
    background: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    min-height: 60px;
    border-bottom: 4px solid #A00000;
    text-align: center;
}
.navbar img{
    height: 70px;
}
.navbar .collapse a:hover{
    color: #ffffff;
    font-weight: bold;
    background: #dc3545;
}

.logo-brand{
    min-width: 140px;
    max-width: 160px;
}

.nav-link{ color: #1a1a1a; }
.nav-link:hover{ color: #1a1a1a; }

.navbar-toggler i{ font-size: 45px; }
.navbar-toggler:focus{ outline: none; }


/*IMAGEN*/
#hero{
    background-image: url(../imagenes/vierospollos.jpg);
    background-size: cover;
    padding-top: 90px;
    min-height: 770px;
    color: #ffffff;
    margin-top: 115px;
    margin-top: 90px;
}
#hero h1{
    font-family: 'Titillium Web', sans-serif;
    font-size: 80px;
    font-weight: 600;
    line-height: 80px;
}
#hero p{
    font-size: 20px;
    margin-bottom: 0;
}
#hero a{
    color: white;
    width: 150px;
    padding: 10px;
}
#hero a i{
    margin-left: 5px;
}


/*PRODUCTO*/
#portafolio h2{
    font-size: 48px;
}
#portafolio p{
    font-size: 22px;
}
.portafolio-container{
    position: relative;
    overflow: hidden;
    margin: 10px 0;
    border-radius: 2px;
}

.portafolio-container img{
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    width: 1000px;
    height: 500px;
}

.portafolio-container img:hover{
    -moz-transform:  scale(1.2);
    -webkit-transform:  scale(1.2);
    transform: scale(1.2);
}
.portafolio-defails{
    position: absolute;
    bottom: 25px;
    left: 25px;
    z-index: 9000;
    
}

.portafolio-defails a h2, 
.portafolio-defails a h4{
    font-family: 'Titillium Web', sans-serif;
    color: #ffffff;
}

.portafolio-defails a:hover{
    text-decoration: none;
}


/*PROMOCIONES*/
.menber-container{
    position: relative;
    width: 100%;
    margin-bottom: 15px;
}
.publicidad{
    width: 100%;
    height: auto;
    background: #D7D7D7;
    padding: 5px;
}

#aboutus .til-producto{
    width: 100%;
    height: auto;
    background: #dc3545;
    text-align: center;
    border-radius: 20px;
}

#aboutus .publicidad h5{
    width: 100%;
    background: #ffffff; 
    padding: 5px;
    color: #dc3545;
}

#aboutus .til-producto h3{
    color: #ffffff;
    padding: 5px;
}

#aboutus img{
    width: 440px;
    height: 250px;
}


/*DELIVERY*/
#delivery .contenedores{
    width: 80%;
    min-height: 300px;
    margin: auto;
}
#delivery .contacto{
    color: #ffffff;
}
#delivery .contacto i, p{
    font-size: 20px;
}
#delivery .contacto iframe{
    width: 500px;
    height: 250px;
    border: 1pz solid white;
}




/*FOOTER*/
#footer{
    clear: both;
    text-align: center;
    padding-top:10px;
    padding-bottom: 10px;
    color: white;
    background: #222222;
    border-top: 4px solid #A00000;
}


/*OVERVIEW*/
@media (max-width: 575.98px) {  
    section{
        padding: 60px 0;
        padding-bottom: 10px;
    }
    .navbar img{
        height: 50px;
    }
    .navbar i{
        font-size: 23px;
    }
    
    #hero{
        margin-top: 70px;
    }
    #hero h1{
        font-size: 60px;
        line-height: 60px;
    }
    #hero p{
        font-size: 20px;
        line-height: 30px;
        margin-top: 40px;
    }

    #portafolio h2{
        font-size: 30px;
    }
    #portafolio p{
        font-size: 18px;
    }
    .portafolio-container img{
        height: 250px;
    }
    
    #aboutus h2{
        font-size: 28px;
    }
    #aboutus .til-producto h3{
        text-align: center;
        font-size: 20px;
    }

    #delivery .container{
        margin: auto;
        width: 200%;
        border: 1px solid black;
    }
    #delivery img{
        width: 80px;
        margin-top: 60px;
    }
    #delivery h4{
        color: #dc3545;
        text-align: center;
        font-weight: bold;
    }
    #delivery p{
        font-size: 20px;
        color: white;
        text-decoration: none;
    }
    #delivery p:hover{
        color: thistle;
    }
    #delivery .contacto {
        margin-bottom: 40px;
        margin-top: -20px;
    }
    #delivery .contacto iframe{
        width: 300px;
        height: 150px;
        margin: auto;
    }
    #footer p{
        font-size: 15px;
    }
    
        
}


@media (min-width: 768px) { 
    #delivery iframe{
        width: 100%;
        padding: 0px;
    }
}

@media (min-width: 992px) { ... }

@media (min-width: 1200px) {
    .container{
        min-width: 1350px;
    }
}


